{
  "Logging": {
    "Console": {
      "FormatterOptions": {
        "JsonWriterOptions": {
          "Indented": false
        }
      }
    }
  },
  "ConnectionStrings": {
    "AppDatabase": "Server={{databaseHost}};Database={{database}};Uid={{databaseUser}};Pwd={{databasePassword}};"
  },
  "Application": {
    "BotToken": "{{botToken}}",
    "HostAddress": "{{hostAddress}}",
    "SerpApiKey": "{{serpApiKey}}",
    "SuperadminIds": [{{superadminIds}}],
    "OpenaiKey": "{{openAi_key}}"
  },
  "Jwt": {
    "SecretKey": "{{jwtSecretKey}}",
    "Issuer": "{{jwtIssuer}}"
  }
}
